<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Landing
    link(rel="stylesheet",href="./css/libs.min.css")
    link(rel="stylesheet", href="./css/style.min.css")
    link(rel='stylesheet', href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css', integrity='sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p', crossorigin='anonymous')

  body.body
   include pages/header.pug
   script(src="https://code.jquery.com/jquery-3.4.1.js")
   script(src="./js/libs.min.js")
   script(src="./js/main.js")
  