nav.nav
 .header__menu
  ul.header__menu-list
   li.menu__item
    a(href="#" class="menu__link ") Home               
   li.menu__item
    a(href="#" class="menu__link") About 
   li.menu__item
    a(href="#" class="active menu__link") Services
   li.menu__item
    a(href="#" class="menu__link") Portfolio
   li.menu__item
    a(href="#" class="menu__link") Shop
   li.menu__item
    a(href="#" class="menu__link") Contact
   li.menu__item
    a(href="#" class="menu__link") Pages