header.header
 .container
  .wrap.header__wrap
    .header__logo lo#[span go]
    include ./header-menu.pug
    .header__social-link
     .header__social-facebook
      i.fab.fa-facebook-f
     .header__social-twitter
      i.fab.fa-twitter
     .header__social-google
      i.fab.fa-google-plus-g
    .burger
     i.fal.fa-bars
     .header__middle-menu
      include ./header-menu-middle.pug
    .header__block 
     .header__slider__content.currentSlide
      .header__title The Best Services 1
      .header__text We provide the best services in the world We provide the best services in the world #[br] #[span We provide the best services in the world]
      .header__button hire us
     .header__slider__content
      .header__title The Best Services 2
      .header__text We provide the best services in the world We provide the best services in the world #[br] #[span We provide the best services in the world]
      .header__button hire us 2
     .header__slider__content
      .header__title The Best Services 3
      .header__text We provide the best services in the world We provide the best services in the world #[br] #[span We provide the best services in the world]
      .header__button hire us 3
     .header__slider__content
      .header__title The Best Services 4
      .header__text We provide the best services in the world We provide the best services in the world #[br] #[span We provide the best services in the world]
      .header__button hire us 4
     .header__navigation
      .header__next
       i.fal.fa-chevron-square-right
      .header__prew
       i.fal.fa-chevron-square-left

 
  
    
 